{% extends 'base.html.twig' %}

{% block title %}Création odule
{% endblock %}

{% block body %}
	<div class="container-fluid m-auto">

		<h1>Créer un nouveau module</h1>

		{{ include('module/_form.html.twig') }}

		<div class="mt-3 mb-5">
			<button>
				<a href="{{ path('module_browse') }}">Retour à la liste</a>
			</button>
		</div>
	</div>
{% endblock %}
