{% extends 'base.html.twig' %}

{% block title %}
	Edit Module
{% endblock %}

{% block body %}
	<div class="container">

		<h1>Edition du module : {{ module.name }}</h1>
		
		<div class="mb-3">
			{{ include('module/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
		<div class="mb-3">
			{{ include('module/_delete_form.html.twig') }}
		</div>

		<button><a href="{{ path('module_browse') }}">Retour à la liste</a></button>
	</div>

{% endblock %}
